---
# Only the main Sass file needs front matter (the dashes are enough)
---



$background-color           : mistyrose;
$footer-background-color    : darkred;
$border-color               : darkred;

$text-color                 : black;
$muted-text-color           : darkslategray;

$link-color                 : mediumblue;
$link-color-hover           : deepskyblue;
$link-color-visited         : darkred;

$masthead-link-color        : navy;
$masthead-link-color-hover  : deepskyblue;



$base00: white;           // background
$base05: black;           // foreground

$base0c: purple;          // import, tag
$base0e: forestgreen;     // keyword

$base04: darkgreen;       // line number, comment
$base09: orangered;       // integer
$base0b: darkred;         // string

$base0a: crimson;         // class
$base0d: mediumblue;      // function, method

// $base01: ;
// $base02: ;
// $base03: ;
// $base06: ;
// $base07: ;
// $base08: ;
// $base0f: ;



$serif      : Georgia;
$sans-serif : "IBM Plex Sans KR", Roboto;
$monospace  : "IBM Plex Mono", Consolas;

$global-font-family : $sans-serif;
$header-font-family : $sans-serif;



$type-size-1 : 2.00em;
$type-size-2 : 1.75em;
$type-size-3 : 1.50em;
$type-size-4 : 1.25em; 
$type-size-5 : 1.00em;    
$type-size-6 : 0.80em; 
$type-size-7 : 0.60em;
$type-size-8 : 0.40em;



.highlight{
  font-family: $monospace;
}



@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

html {
  font-size: 15px;
  @include breakpoint($medium)  { font-size: 15px; }
  @include breakpoint($large)   { font-size: 16px; }
  @include breakpoint($x-large) { font-size: 17px; }
}



