---
# Only the main Sass file needs front matter (the dashes are enough)
---



$background-color           : mintcream;
$footer-background-color    : darkred;
$border-color               : darkred;

$text-color                 : black;
$muted-text-color           : darkslategray;

$link-color                 : mediumblue;
$link-color-hover           : deepskyblue;
$link-color-visited         : darkred;

$masthead-link-color        : navy;
$masthead-link-color-hover  : deepskyblue;



$base00: white;           // background
$base05: black;           // foreground

$base0c: purple;          // import, tag
$base0e: forestgreen;     // keyword

$base04: darkgreen;       // line number, comment
$base09: orangered;       // integer
$base0b: darkred;         // string

$base0a: crimson;         // class
$base0d: mediumblue;      // function, method

// $base01: ;
// $base02: ;
// $base03: ;
// $base06: ;
// $base07: ;
// $base08: ;
// $base0f: ;



@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
