---
# Only the main Sass file needs front matter (the dashes are enough)
---



$background-color           : gray;
$footer-background-color    : blue;

$border-color               : red;

$text-color                 : black;
$muted-text-color           : green;

$link-color                 : blue;
$link-color-hover           : yellow;
$link-color-visited         : red;

$masthead-link-color        : yellow;
$masthead-link-color-hover  : blue;



@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
